<div class="container">
  <div class="row" *ngIf="user">
    <div class="col-md-4">
      <app-todo></app-todo>
    </div>
    <div class="col-md-4">
      <app-in-prgrs></app-in-prgrs>
    </div>
    <div class="col-md-4">
      <app-done></app-done>
    </div>
  </div>

  <div *ngIf="!user" style="position: fixed;
  top: 130px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;">
    <button [routerLink]="['users-list']" mat-raised-button style="margin: 20px; color: #F44336;">Show Users</button>
    <button [routerLink]="['log-in']" mat-raised-button color="warn" style="margin: 20px; ">Start Use</button>
  </div>

</div>