// .error-container {
//   position: fixed;
//   left: 30%;
//   top: 50%;
//   z-index: 9999;
// }
// h2{
//   font-size: 20px;
// }


.mistake{
  display: flex;
  justify-content: center;
}
.mistake p{
  margin-top: 2px;
}
.mistake img{
  height: 24px;
  margin: 0px 0px 16px;
}