.error-container{
  position: fixed;
  left: 50%;
  top: 30%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.error-container p{
  margin-top: 2px;
}

.error-container img{
  height: 24px;
  margin: 0px 0px 16px;
}