$background3:  rgb(175, 175, 175);
$background2:  rgb(211, 209, 209);
$background1:  rgb(240, 239, 239);
$background-form: rgba(168, 182, 201, 0.8);

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}