@import "variables";

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}



.post{
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}


.back {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(41, 42, 43, 0.8);
}

.example-form{
  position: fixed;
  z-index: 101;
  background-color: rgb(224, 216, 219);
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 350px;
}
.align-middle{
  display: flex;
  flex-direction: column;
}

.post-script{
  background: $background3;
}
.post-title{
  background: $background2;
}
.post-date{
  background: $background1;
}

.post-date, .post-title, .post-script{
  margin: 0;
  padding: 10px;
}
svg{
  margin-bottom: 20px;
}