<div class="container">

  <div class="post" *ngIf="!isDeleted">

    <div>


      <div>
        <button class="btn mat-raised-button edit" (click)="hide=true">Edit</button>
        <button class="btn mat-raised-button in-progress" (click)="onMoveTaskToInProgress()"
          *ngIf="task.state !== 'In Progress'">Move
          to "In Progress"</button>
        <button class="btn mat-raised-button todo" (click)="onMoveTaskToTodo()" *ngIf="task.state !== 'Todo'">Move to
          "Todo"</button>
        <button class="btn mat-raised-button" (click)="onMoveTaskToDone()" *ngIf="task.state !== 'Done'"
          style="background-color: rgb(134, 134, 134);">Move to "Done"</button>
        <button mat-raised-button color="warn" (click)="onDeleteTask()">Delete</button>
      </div>


      <div>

        <div class="post-date" style="  background-color: rgb(240, 239, 239)">
          <h3>Period Of Execution: {{ task.date | date:'MM/dd/yyyy' }}</h3>
        </div>

        <div class="post-title" style="background-color: rgb(211, 209, 209);">
          <h1>Title: {{ task.title }}</h1>
        </div>

        <div class="post-script" style="background-color: rgb(175, 175, 175);">
          <h2>Task Description: {{ task.body }}</h2>
        </div>
      </div>


      

    </div>

  </div>

  <div class="edit-task" *ngIf="hide">
    <div class="back"></div>
    <form class="example-form">
      <div style="text-align: end; cursor: pointer;" (click)="hide = false">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path fill-rule="evenodd"
            d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z" />
          <path fill-rule="evenodd"
            d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z" />
        </svg>
      </div>
      <div class="align-middle">
        <mat-form-field color="accent" class="example-full-width">
          <mat-label>Title</mat-label>
          <input matInput [formControl]="title" autocomplete="off" required>
        </mat-form-field>

        <mat-form-field color="accent" class="example-full-width">
          <mat-label>Leave a discription</mat-label>
          <textarea matInput [formControl]="body" required [(ngModel)]="task.body"></textarea>
        </mat-form-field>


        <mat-form-field color="accent">
          <mat-label>Period of execution</mat-label>
          <input matInput [matDatepicker]="dp" placeholder="mm/dd/yyyy" autocomplete="off" required
            [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
        </mat-form-field>
        <br>
        <button mat-raised-button (click)="onEditTask()">Save Changes</button>
      </div>
    </form>
  </div>





  <div class="delete-post" *ngIf="isDeleted">
    <div class="alert alert-secondary" role="alert" routerLink="" style="cursor: pointer">
      Task Deleted! Click to return to the main page!
    </div>
  </div>

  <div class="moved-task" *ngIf="isMoved">
    <div class="alert alert-secondary" role="alert" routerLink="" style="cursor: pointer">
      Task Moved! Click to return to the main page!
    </div>
  </div>

</div>