<div class="container">
  <div class="row" style="margin-top: 20px;">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input type="email" matInput placeholder="tut@tut.by" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">You must enter a value</mat-error>
    </mat-form-field>
    <button class="btn-main btn-login" style="margin: 20px;" [disabled]="email.invalid || password.invalid" mat-raised-button (click)="onLogIn()">Log In</button>

    <div>or</div>

    <button class="btn-secondary btn-login" style="margin: 20px;" mat-raised-button routerLink="/sign-up" [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{exact: true}">Sign Up</button>

  </div>

</div>