
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$zrabic-primary: mat-palette($mat-indigo);
$zrabic-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$zrabic-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$zrabic-theme: mat-light-theme($zrabic-primary, $zrabic-accent, $zrabic-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($zrabic-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.head-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
  button {
    transition: 0.3s;
    color: white;
    &:hover {
      box-shadow: -16px -14px 27px -22px rgba(82,75,82,1);;
    }
  }
}

.btn-main{
  background: #F44336;
  color: white;
  &:hover{
    color: black;
    background-color: white;
    border-color: #545b62;
  }
}

.btn-secondary{
  background: white;
  color: #F44336 ;
}

.btn-third{
  background: transparent;
  &:hover{
    color: white;
    background-color:#F44336;
    border-color: #545b62;
  }
}

.btn-login{
  width: 240px;
}

.task-list{
  margin-bottom: 15px;
}

.hover {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: #F44336;
  }
}

.example-box {
  padding: 5px 20px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: move;
  background: transparent;
  font-size: 14px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  margin-top: 10px;
  border-radius: 3px;
  background-color: #ece9e9;
  &:hover{
    background: white;
  }
}

.example-form{
  position: absolute;
  z-index: 101;
  background-color: rgb(224, 216, 219);
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 350px;
  border-radius: 3px;
}


.back {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(41, 42, 43, 0.8);
}

.align-middle{
  display: flex;
  flex-direction: column;
}

li{
  background: #222222;
  margin-right: 5px;
  border-radius: 3px;
}
